<h1 >Log In</h1>
<div class="log-in-form">
    <form [formGroup]="logInForm">
      <div class="form-group">
        <input type="text" class="form-control" id="login" required [(ngModel)]="userModel.login" name="login" formControlName="login" placeholder="login">
        <div class="errors">
          <p *ngIf="logInForm.get('login').errors?.maxlength">Login should be less then 256 symbols</p>
        </div>
      </div>
  
      <div class="form-group">
        <input type="text" class="form-control" id="password" required [(ngModel)]="userModel.password" name="password" formControlName="password" placeholder="password">
        <div class="errors">
          <p *ngIf="logInForm.get('password').errors && logInForm.get('password').touched">Need symbols, numbers, words in upper and lower case</p>
          <p *ngIf="logInForm.get('password').errors?.maxlength">Passworn should be less then 256 symbols</p>
        </div>
      </div>
      <button type="submit" class="btn btn-success" [disabled]="!logInForm.valid" (click)="logIn()">Submit</button><br>
    </form>
  </div>